.no_ingredient {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-family: "Jet Brains Mono", sans-serif;
    background: #2f2f37;
    min-height: 80px;
    max-width: 536px;
    font-size: 16px;
    line-height: 24px;
    color: #f2f2f3;
}