.content {
    margin: 40px 340px 0;
}

.container {
    display: flex;
    gap: 60px;
}

.feed {
    max-width: 608px;
}

.infographic {
    width: 584px;
}

.orders_info {
    display: flex;
    gap: 8px;
}

.completed_orders {
    width: 280px;
}