html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

article {
  margin: 0;
}

p {
  margin: 0;
}

picture {
  display: block;
  width: 100%;
  height: auto;
}

/*img {*/
/*  max-width: 100%;*/
/*}*/

h1,
h2,
h3,
h4 {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.main_background {
  background-color: #131316;
}

.blue_text {
  color: #0cc;
}