.image_container {
    margin: 0 auto 60px;
    size: 120px;
}

.order_number {
    margin: 0 auto 32px;
}

.order_description {
    margin: 0 auto 60px;
}

.ready_order {
    margin: 0 auto 8px;
}

.wait_order {
    margin: 0 auto 120px;
}
