body {
    /*overflow-y: scroll;*/
}

.content {
    margin: 40px 340px 0;
}

.container {
    display: flex;
    gap: 60px;
}

.feed {
    overflow-y: scroll;
    max-width: 608px;
    max-height: 812px;
}

.feed::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
}
.feed::-webkit-scrollbar-track {
    background: #2F2F37;
}
.feed::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.infographic {
    width: 584px;
}

.orders_info {
    display: flex;
    gap: 8px;
}

.completed_orders {
    width: 280px;
}