.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredient_image {
    margin: 0 120px 16px 120px;
    max-width: 480px;
}

.characteristic_block {
    display: flex;
    gap: 20px;
}

.characteristic {
    display: flex;
    flex-direction: column;
}

.close:hover {
    cursor: pointer;
}