.panel {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.constructor_block {
    min-height: 80px;
    max-height: 464px;/* высота нашего блока */
    min-width: 600px; /* ширина нашего блока */
    overflow-y: scroll; /* прокрутка по вертикали */
}

.constructor_block::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
}
.constructor_block::-webkit-scrollbar-track {
    background: #2F2F37;
}
.constructor_block::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.ingredient{
    display: flex;
    gap: 8px;
    align-items: center;
}

.ingredient:not(:last-child) {
    margin-bottom: 16px;
}

.empty_open_bun {
    background-color: rgba(0,0,0,0.6);
}

@media (max-width: 1280px) {
    .constructor_block {
        width: 100%;
        min-height: initial;
        max-height: initial;
        min-width: initial;
    }
    .constructor_block::-webkit-scrollbar {
        width: 0;
    }
    .ingredient:not(:last-child) {
        margin: 0;
    }
}