.ingredients_container {
    margin-right: 40px;
}

@media (max-width: 1280px) {
    .ingredients_container {
        margin-right: 0;
    }

    .ingredients_container_title {
        text-align: center;
    }
}