.orders {
    overflow-y: scroll;
    max-height: 916px;
}

.orders::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
}
.orders::-webkit-scrollbar-track {
    background: #2F2F37;
}
.orders::-webkit-scrollbar-thumb {
    background: #8585AD;
}